<footer id="footer">
    <div class="copyright">
        <p class="copyright-text">© sahil sagar 2023.</p>
       <div class="links"> 
        <a class="nav-btn" href="">Linkedin</a>
        <span> || </span>
        <a class="nav-btn" href="">Internshala</a>
        <span> || </span>
        <a class="nav-btn" href="">Github</a>
        </div>
    </div>
    
   </footer>

    <script src="index.js"></script>
</body>
</html>