<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEATHER-APP</title>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/5b2a00f2e4.js" crossorigin="anonymous"></script>

    <!-- googlefont -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital@1&family=Montserrat:ital,wght@0,400;1,300&family=Poppins&family=Ubuntu:wght@500&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="style.css">
</head>
<body>
   <header id="header">
    <div class="head-cont container">
        <div class="left-cont">
            <div class="iconImg">
                <img class="logo" src="images/Weather App Icon.png" alt="Icon">
            </div>
            <div class="brand-name">   
                <h1 class="logoname">Weather Today</h1>
            </div>
        </div>
        <div class="right-cont">
            <ul class="navItems">
                <li class="items"><a class="nav-btn home" href="/">Home</a></li>
                <li class="items"><a class="nav-btn" href="/about">About</a></li>
                <li class="items"><a class="nav-btn" href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
   </header>