<%- include("partials/header"); -%>

<section id="contentContainer">
    <div class="about">
        <h1 class="pageHeading">About </h1>
        <p class="aboutI">Weather today is a weather forcast app , it is here to help you in finding your local weather very easily. </p>
        <h2>we are providing you</h2>
        <div class="fac">
            <p>•  Temperate</p>
            <p>•  Weather</p>
            <p>•  Wind Speed</p>
            <p>•  Humidity</p>
        </div>
        
        <h2 class="help">If you have any query or if you want to ask something <a href="/contact">Contact Us</a>. I love to help you.</h2>  
    </div>

</section>




<%- include("partials/footer"); -%>