<%- include("partials/header"); -%>

<section id="contentContainer">
    <h1 class="pageHeading">Contacts</h1>
    <div class="contactInfo">
        <a target="_blank" href="images/Dp.jpg"><img class="Dp" src="images/Dp.jpg" alt="Sahil Sagar"></a>
       <h3 class="name">Sahil Sagar</h3>
       <h1>Hello,</h1>
      <div class="info">
        <p><strong>Post address:</strong> abcd abcdef abcde abcd abcdefghi ab.</p>
        <p><strong>Gmail:</strong> sa****@**gamil.com</p>
        <p><strong>Pho:</strong>  9*******65</p>
      </div>
       <div>
        <div class="proIcon">
            <a href=""><i class="fa-brands fa-facebook" style="color: #6e7277;"></i></a>
            <a href=""><i class="fa-brands fa-instagram" style="color: #6e7277;"></i></a>
            <a href=""><i class="fa-brands fa-linkedin" style="color: #6e7277;"></i></a>
            <a href=""><i class="fa-brands fa-telegram" style="color: #6e7277;"></i></a>
        </div>
       </div>


    </div>
</section>




<%- include("partials/footer"); -%>