<%- include("partials/header"); -%>


<section id="contentContainer" class="result">
    <h1 class="sorry">Sorry,</h1>
    <p> Unable to search your city! Please check the City name.😓</p>
    <p class="resultHeading"><%= Cod %> <%= Mess %>.</p>

   
</section>



<%- include("partials/footer"); -%>