<%- include("partials/header"); -%>

<section id="search">
    <div class="search-box">
       <h2 class="searchD">Search Your City Weather Here.</h2>
       <form action="" method="post">
        <input  class="searchBar" type="text" name="searchCity" id="city" placeholder="city name">
        <input class="btn" type="submit" value="Check">
       </form>
    </div>
</section>

<section id="contentContainer">
<div class="main-content">
<div class="content-left">
    <div class="summer">
        <img class="cont-img" src="https://gulvalschool.org.uk/wp-content/uploads/2020/07/5356755_062119-cc-ss-summer-sun-img.jpg" alt="summer">
    <h1 class="first-heading contHeading">Summer (March to May)</h1>
    <p class="contSummeryLeft">
        Summer is the hottest of the four temperate seasons, occurring after spring and before autumn. At or centred on the summer solstice, daylight hours are longest and darkness hours are shortest, with day length decreasing as the season progresses after the solstice. The earliest sunrises and latest sunsets also occur near the date of the solstice. The date of the beginning of summer varies according to climate, tradition, and culture. When it is summer in the Northern Hemisphere, it is winter in the Southern Hemisphe and vice versa.
           <em>From an astronomical view, the equinoxes and solstices would be the middle of the respective seasons,[1][2] but sometimes astronomical summer is defined as starting at the solstice, the time of maximal insolation, often identified with the 21st day of June or December. By solar reckoning, summer instead starts on May Day and the summer solstice is Midsummer. A variable seasonal lag means that the meteorological centre of the season, which is based on average temperature patterns, occurs several weeks after the time of maximal insolation.</em>
        </p>
   </div>
</div>
<div class="content-right">
        <div class="rain">
            <img class="cont-img2" src="https://photos.demandstudios.com/getty/article/176/161/547033564.jpg" alt="rain">
            <h1 class=" second-heading contHeading">Rain (June to Sep)</h1>
            <p class="contSummeryRight">
                The wet season (sometimes called the rainy season or monsoon season) is the time of year when most of a region's average annual rainfall occurs.[1] Generally, the season lasts at least a month.[2] The term green season is also sometimes used as a euphemism by tourist authorities.[3] Areas with wet seasons are dispersed across portions of the tropics and subtropics.[4].
               <em>Under the Köppen climate classification, for tropical climates, a wet season month is defined as a month where average precipitation is 60 millimetres (2.4 in) or more.[5] In contrast to areas with savanna climates and monsoon regimes, Mediterranean climates have wet winters and dry summers. Dry and rainy months are characteristic of tropical seasonal forests: in contrast to tropical rainforests, which do not have dry or wet seasons, since their rainfall is equally distributed throughout the year.[6] Some areas with pronounced rainy seasons will see a break in rainfall mid-season, when the intertropical convergence zone or monsoon trough moves to higher latitudes in the middle of the warm season.[7]</em>
            </p>
       </div>
    </div>
<div class="content-left">
    <div class="autumn">
        <img class="cont-img" src="https://free4kwallpapers.com/uploads/originals/2015/09/26/autumn-season-wallpaper.jpg" alt="summer">
    <h1 class="first-heading contHeading">Autumn (Oct to Nov)</h1>
    <p class="contSummeryLeft">
        Autumn, also known as fall in American English and Canadian English,[1] is one of the four temperate seasons on Earth. Outside the tropics, autumn marks the transition from summer to winter, in September (Northern Hemisphere) or March (Southern Hemisphere). Autumn is the season when the duration of daylight becomes noticeably shorter and the temperature cools considerably. Day length decreases and night length increases as the season progresses until the Winter Solstice in December (Northern Hemisphere) and June (Southern Hemisphere). One of its main features in temperate climates is the striking change in colour for the leaves of deciduous trees as they prepare to shed.
           <em>Some cultures regard the autumnal equinox as "mid-autumn", while others with a longer temperature lag treat the equinox as the start of autumn.[2] In the English-speaking world of high latitude countries, autumn traditionally began with Lammas Day and ended around Hallowe'en, the approximate mid-points between midsummer, the autumnal equinox, and midwinter. Meteorologists (and Australia[3][4] and most of the temperate countries in the southern hemisphere)[5][6] use a definition based on Gregorian calendar months, with autumn being September, October, and November in the northern hemisphere,[7] and March, April, and May in the southern hemisphere.</em>
        </p>
   </div>
</div>
<div class="content-right">
        <div class="winter">
            <img class="cont-img2" src="https://wallpapers.com/images/hd/winter-season-orange-sky-p7qs0gvru2zlexon.jpg" alt="rain">
            <h1 class=" second-heading contHeading">Winter (Dec to Feb)</h1>
            <p class="contSummeryRight">
                Winter is the coldest season of the year in polar and temperate climates. It occurs after autumn and before spring. The tilt of Earth's axis causes seasons; winter occurs when a hemisphere is oriented away from the Sun. Different cultures define different dates as the start of winter, and some use a definition based on weather.
               <em>When it is winter in the Northern Hemisphere, it is summer in the Southern Hemisphere, and vice versa. In many regions, winter brings snow and freezing temperatures. The moment of winter solstice is when the Sun's elevation with respect to the North or South Pole is at its most negative value; that is, the Sun is at its farthest below the horizon as measured from the pole. The day on which this occurs has the shortest day and the longest night, with day length increasing and night length decreasing as the season progresses after the solstice.</em>
            </p>
       </div>
    </div>
</div>
</div>
</section>
<%- include("partials/footer"); -%>
